.labelValue {
   position: relative;
   display: grid;
   grid-template-columns: 8rem 6fr;
   width: 100%;
   gap: 2rem;
   font-family: var(--font-family--header);
   font-size: 1rem;
   font-weight: 500;
}

.label {
   text-transform: capitalize;
   color: var(--davys-grey);
}

.value {
   font-weight: 600;
   color: var(--gunmetal);
}
